* text=auto eol=lf
*.sh text eol=lf
*.php text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.svg text eol=lf
android/gradlew text eol=lf
*.bat text eol=crlf
*.br binary
*.png binary
*.jar binary
*.zip binary
app/public/assets/*.min.js linguist-generated=true
app/public/assets/*.min.css linguist-generated=true
app/public/assets/*.br linguist-generated=true
docs/images/*.svg linguist-generated=true
android/gradlew linguist-vendored=true
android/gradlew.bat linguist-vendored=true
